
.untitled-design-29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 1024px;
  object-fit: cover;
}
.signup-child {
  position: absolute;
  top: calc(50% - 375px);
  left: calc(50% - 497px);
  background-color: var(--color-white);
  width: 994px;
  height: 750px;
}
.black-grey-simple-library-logo10 {
  position: absolute;
  top: calc(50% - 249px);
  left: calc(50% - 495px);
  width: 496px;
  height: 498px;
  object-fit: cover;
}
.create-account2,
.signup-inner {
  position: absolute;
  top: 137px;
  left: 719.5px;
  width: 2px;
  height: 750px;
}
.create-account2 {
  top: 211px;
  left: 768px;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.33px;
  font-family: var(--font-roboto-serif);
  text-align: center;
  display: inline-block;
  width: 393px;
  height: 58px;
}
.component-child,
.component-child1,
.component-child2,
.component-child3,
.component-inner,
.component-item {
  position: absolute;
  top: 15px;
  left: 186px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 250px;
  height: 37px;
}
.component-child1,
.component-child2,
.component-child3,
.component-inner,
.component-item {
  top: 67px;
}
.component-child1,
.component-child2,
.component-child3,
.component-inner {
  top: 119px;
}
.component-child1,
.component-child2,
.component-child3 {
  top: 171px;
}
.component-child2,
.component-child3 {
  top: 223px;
}
.component-child3 {
  top: 275px;
}
.firstname {
  top: 19px;
  left: 6px;
  font-weight: 500;
  width: 140px;
  height: 34px;
}
.email,
.firstname,
.lastname {
  position: absolute;
  letter-spacing: -0.33px;
  display: inline-block;
}
.lastname {
  top: 73px;
  left: 6px;
  font-weight: 500;
  width: 140px;
  height: 34px;
}
.email {
  top: 127px;
}
.email,
.password2,
.username1 {
  left: 6px;
  font-weight: 500;
  width: 140px;
  height: 34px;
}
.username1 {
  position: absolute;
  top: 181px;
  letter-spacing: -0.33px;
  display: inline-block;
}
.password2 {
  top: 235px;
}
.already-have-an,
.confirm-password,
.password2 {
  position: absolute;
  letter-spacing: -0.33px;
  display: inline-block;
}
.confirm-password {
  top: 289px;
  left: 4px;
  font-weight: 500;
  width: 199px;
  height: 28px;
}
.already-have-an {
  top: 421px;
  left: -70px;
  font-size: 18px;
  font-family: var(--font-roboto-slab);
  color: var(--color-mediumslateblue-100);
  text-align: center;
  width: 363px;
  height: 38px;
}
.rectangle-parent {
  position: absolute;
  top: 288px;
  left: 741px;
  width: 454px;
  height: 549px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.signup-button-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-100);
}
.create-account3 {
  position: absolute;
  top: 12.16%;
  left: calc(63.5% - 118.25px);
  text-transform: capitalize;
}
.signup-button-child1,
.signup-button2 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.signup-button2 {
  top: 644px;
  left: 837px;
  background-color: var(--color-mediumslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 262.5px;
  height: 37px;
  color: var(--color-white);
}
.signup-button-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumslateblue-200);
}
.s {
  text-transform: uppercase;
}
.ign-in {
  text-transform: lowercase;
}
.create-account4 {
  position: absolute;
  top: 12.16%;
  left: calc(80% - 118.25px);
}
.signup-button3 {
  position: absolute;
  top: 761px;
  left: 837px;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 262.5px;
  height: 37px;
  color: rgba(255, 255, 255, 0.7);
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
