.student-view-child11 {
  position: absolute;
  top: 42px;
  left: 1251px;
  width: 112px;
  height: 110px;
}
.untitled-design-24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 131px;
  object-fit: cover;
  opacity: 0.9;
}
.student-name4 {
  top: 48px;
  left: 1044px;
  font-size: var(--font-size-11xl);
}
.browse4,
.home4,
.student-name4 {
  position: absolute;
  letter-spacing: -0.33px;
  font-weight: 500;
}
.home4 {
  top: calc(50% - 17px);
  left: calc(50% - 194px);
}
.browse4 {
  top: 28px;
  left: 208px;
}
.home-parent1,
.reading-list4 {
  position: absolute;
  font-size: var(--font-size-11xl);
}
.home-parent1 {
  top: 20px;
  left: 115px;
  width: 582px;
  height: 90px;
  overflow: hidden;
}
.reading-list4 {
  top: 48px;
  left: 451px;
  letter-spacing: -0.33px;
  font-weight: 500;
}
.black-grey-simple-library-logo5 {
  position: absolute;
  top: calc(50% - 492px);
  left: 32px;
  width: 131px;
  height: 90px;
  object-fit: cover;
}

.user-icon5 {
  position: absolute;
  top: 39px;
  left: 1245px;
  width: 77px;
  height: 54px;
  object-fit: cover;
}
.user-icon6 {
  position: absolute;
  top: 420px;
  left: 261px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.student-view-child12 {
  position: absolute;
  top: calc(50% - 230px);
  left: calc(49% - 496px);
  background-color: var(--color-silver);
  width: 1010px;
  height: 604px;
}

.student-view-child13 {
  position: absolute;
  top: 281.9px;
  left: 550.9px;
  width: 2px;
  height: 605px;
  background-color: black;
}

.student-name5 {
  position: absolute;
  top: 690.9px;
  left: 275.9px;
  font-size: var(--font-size-16xl);
  letter-spacing: -0.33px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 235px;
  height: 50px;
  
}
.student-view-child14,
.student-view-child15 {
  position: absolute;
  top: 359px;
  left: 602px;
  background-color: var(--color-gainsboro);
  width: 169px;
  height: 101px;
}
.student-view-child15 {
  left: 799px;
}
.rectangle-icon,
.student-view-child16,
.student-view-child17 {
  position: absolute;
  top: 512px;
  left: 602px;
  width: 169px;
  height: 101px;
}
.student-view-child16,
.student-view-child17 {
  left: 799px;
  background-color: var(--color-gainsboro);
}
.student-view-child17 {
  top: 359px;
  left: 997px;
}
.favorite {
  position: absolute;
  top: 377px;
  left: 614px;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.33px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 45px;
}
.student-view-child18 {
  position: absolute;
  top: 410px;
  left: 659.2px;
  width: 51px;
  height: 35px;
}
.acount {
  margin: 0;
}
.acount-settings,
.password-reset1 {
  position: absolute;
  top: 522px;
  left: 807px;
  letter-spacing: -0.33px;
  font-weight: 500;
  display: inline-block;
  width: 149px;
  height: 92px;
}
.password-reset1 {
  left: 602px;
  width: 171px;
  height: 91px;
}
.student-view-child19 {
  position: absolute;
  top: 775px;
  left: 949px;
  border-radius: 30px;
  background-color: var(--color-mediumslateblue-100);
  width: 217px;
  height: 71px;
}
.acount-info,
.dark-mode,
.logout {
  position: absolute;
  letter-spacing: -0.33px;
  font-weight: 500;
  display: inline-block;
}
.logout {
  top: 789px;
  left: 980px;
  color: var(--color-white);
  width: 155px;
  height: 49px;
}
.acount-info,
.dark-mode {
  top: 372px;
  left: 815px;
  width: 134px;
  height: 91px;
}
.dark-mode {
  left: 1032px;
  width: 99px;
  height: 92px;
}
.student-view4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
